/* Font family added */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  font-size: 16px;
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

:root {
  --Primary-color:#98838f;
  --secondary-color:#16E0BD;
  --accent1-color:#78C3FB;
  --accent2-color:#98CE00;

--heading-font: 'Roboto',serif;
--paragraph-font: 'Poppins',serif;
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
   padding: 1rem;
  }
  


  h1 {
    font-family: var(--heading-font);
    color:#98838f; 
  }

  h2 {
    font-family: var(--Primary-color);
    color: #16E0BD;
  }
  
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }


  img {
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
    
  }
  
  p {
    padding: 25px;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }

  nav a:link, nav a:visited{
    color: var(--nav-link-color);
  }

  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }




  aside {
  width: 0;
  margin: 0;
  border: 0;
  padding: 0;
  

  }
  
  aside img {
    width: 200px;
    height: auto;
  }
  
  footer {
    margin-top: 0;
    border-top: 0;
  }
  